@import url("reset.css");

:root {
/* Color palette */
--white: #F2F2F2;
--dark-green: #1B484C;
--soft-green: #9EE495;
--pink-tan: #FEDFCE;
--orange: #FF9E69;

/* Font */
--inter: 'Inter', sans-serif;
--jost: 'Jost*', sans-serif;

/* Gallery */
--duration-shrink: .5s;
--duration-expand: .25s;
--no-duration: 0s;
--gap: 4px;
                   
@supports (font-variation-settings: normal) {
  font-family: 'Inter var', sans-serif;
}
}

html {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('assets/nasa-Q1p7bh3SHj8-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--inter);
    scroll-behavior: smooth;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1080px;
}

header {
  position: relative;
}

nav {
  color: var(--white);
  position: sticky;
  top: 0;
  margin: -30vh auto 0;
  z-index: 10;

  @media screen and (min-width: 800px) {
    margin: -20vh auto 0;
  }

  @media screen and (min-width: 1300px) {
    width: 80vw;
  }

  @media screen and (min-width: 1920px) {
    width: 75vw;
  }

  & ul {
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(3, 1fr);
    padding: 2em 0;

    @media screen and (min-width: 800px) {
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    & li {
      font-size: 2rem;
      font-weight: 300;
      display: inline-flex;
      justify-content: center;
      padding: 0.25em;

      @media screen and (min-width: 800px) {
        padding: 0;
      }

      &:nth-child(n) {
        border-right: none;

        @media screen and (min-width: 800px) {
          border-right: 1px solid rgba(255,255,255,0.1);
        }
      }

      &:first-child {
        border-left: 1px solid rgba(255,255,255,0.1);
      }

      & a {
        text-decoration: none;
        color: var(--white);
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &:hover {
          font-weight: 600;
        }
      }
    }
  }
}

.sticky {
  background-color: rgba(0,0,0,0.9);
  box-shadow: 0 0 20px 20px rgba(0,0,0,0.9);
}

#home {
  text-align: center;
  padding-top: 0;

  & h1 {
    font-size: 6rem;
    font-family: var(--jost);
    line-height: 1;
    background-image: linear-gradient(90deg, var(--soft-green), var(--pink-tan));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding-top: 20vh;

    @media screen and (min-width: 800px) {
      padding-top:  35vh;
    }
  }

  & h3 {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 0vh;
    color: var(--white);

    @media screen and (min-width: 800px) {
      margin-bottom: 20vh;
    }
  }
}

section {
  padding-top: 15rem;
  min-height: 100vh;
  position: relative;

  @media screen and (min-width: 800px) {
    padding-top: 10rem;
  }

  & h1 {
    font-size: 4rem;
    font-family: var(--jost);
    line-height: 1;
    background-image: linear-gradient(90deg, var(--soft-green), var(--pink-tan));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    margin-bottom: 1rem;
  }

  & p {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 1px;
  }
}

#about {

  & p::first-letter {
      float: left;
      font-size: 4rem;
      font-weight: 500;
      padding: 6px 5px 0 0;
      margin: 0;
      line-height: 1;
  }
}

#past-work {
  & a {
    float: right;
    color: var(--white);
    text-decoration: none;
    border: 1px solid var(--white);
    padding: 1rem 1.5rem;
    font-size: 1.25rem;
    border-radius: 10px;
    transition: all 0.2s;

    &:hover {
      color: #000;
      background-color: var(--white);
    }
  }
  
  & ul {
    list-style-type: none;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 0 30px 40px rgba(0,0,0,0.5);

    & p {
      padding-left: 1rem;
    }
  }

  & h3 {
    font-size: 1.75rem;
    color: var(--orange);
    font-family: var(--jost);
    font-weight: 400;
  }
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4px;
  list-style: none;

  @media screen and (min-width: 640px) {
    grid-template-columns: repeat(4, 25%);
  }

  & li {
    transition-property: transform, opacity;
    transition-timing-function: ease-in-out;
    transition-duration: var(--duration-expand);

    &.is-zoomed {
      transition-duration: var(--duration-shrink);
    }
  }

  & button {
    all: initial;
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    cursor: pointer;

    & figure {
      height: 100%;
      width: 100%;
      object-fit: cover;
      position: relative;

      & img {
        width: 100%;
      }

      & figcaption {
        position: absolute;
        bottom: 0;
        background-color: rgba(0,0,0,0.8);
        color: var(--white);
        font-family: var(--inter);
        width: 100%;
        padding: 5px 0;
        text-align: center;
      }
    }
  }
}

footer {
    text-align: center;
    color: white;
    font-weight: 200;

    & p {
        padding: 3rem 0;
    }

    & a {  
        text-decoration: none;
        color: var(--pink-tan);

        &:hover {
            text-decoration: underline;
        }
    }
}